:root {
  --logo-black-txt: #000;
  --logo-white-txt: #fff;
  --primary-txt-color: #757575;
  --title-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --hero-txt-color: #fff;
  --team-bg-color: #f5f4fa;
  --team-card-bg-color: #fff;
  --portfolio-card-bg-color: #fff;
  --address-txt: #fff;
  --address-txt-contacts: rgba(255, 255, 255, 0.6);
  --accent-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --button-bg-color: #2196f3;
  --button-bg-act-color: #188ce8;
  --button-txt-color: #ffffff;
  --button-filter-bg-color: #f5f4fa;
  --button-filter-txt-color: #000;
  --button-filter-bg-act-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* #212121 цвет заголовков */
/* #757575 цвет основного текста */
/* #FFFFFF цвет Hero */
/* #FFFFFF rgba(255, 255, 255, 0.6) вспомагательный к Hero цвету */
/* #2196F3 цвет акцент - ссылок и части логотипа */

/* #E5E5E5 - цвет основного фона*/
/* #EEEEEE - цвет обводки основных секции */
/* #2F303A - цвет фона Hero, темный фон */
/* #000000 - цвет обводки темного фона */
/* #2196F3 цвет акцент - кнопки при hover и focus */
/* #F5F4FA цвет кнопки фильтра в дефолтном состоянии */

/* Utilits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list,
.team-list,
.projects-list,
.site-nav,
.contacts-nav,
.filter,
.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--accent-txt-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo.black {
  color: var(--logo-black-txt);
}

.logo.white {
  color: var(--logo-white-txt);
}

/* Site nav */

.container.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.contacts-nav {
  margin-left: auto;
}

.contacts-nav .cont-nav-header + .cont-nav-header {
  margin-left: 50px;
}

/* .cont-nav-header .link + .link {
  margin-left: 50px;
} */

/* .site-nav .item {
  margin-right: 50px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav,
.contacts-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link,
.cont-nav-header,
.cont-nav-footer {
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-txt-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-txt-color);
}

.site-nav .link.current {
  color: var(--accent-txt-color);
}

.contacts-nav .link {
  color: var(--primary-txt-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-txt-color);
}

.contacts-nav {
  display: flex;
}

/* Hero */

.hero-section {
  background-color: var(--accent-bg-color);

  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--hero-txt-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Container */

.container {
  width: 1200px;

  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid blue;
}

/* Section */

.section {
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-paddind {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-txt-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */

.features-list .title {
  color: var(--title-txt-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: tomato;
}

.features-list .description {
  margin-top: 0;

  color: var(--primary-txt-color);

  line-height: 1.71;
}

.features-list,
.projects-list,
.team-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

/* Team */

.team-list .title {
  color: var(--title-txt-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .description {
  color: var(--primary-txt-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card {
  background-color: var(--team-card-bg-color);
  width: 270px;
  height: 368px;
}

.section.team {
  background-color: var(--team-bg-color);
}

/* Footer */

.page-footer {
  background-color: var(--accent-bg-color);
}
.contacts-nav .cont-nav-footer {
  color: var(--address-txt-contacts);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.cont-nav-footer:hover,
.cont-nav-footer:focus {
  color: var(--accent-txt-color);
}

.address {
  font-style: inherit;
  color: var(--address-txt);
}

/* Button */

.button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
}

.button.primary {
  color: var(--button-txt-color);
  background-color: var(--button-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover .button.primary:focus {
  color: var(--button-txt-color);
  background-color: var(--button-bg-act-color);
}

.button.secondary {
  color: var(--button-filter-txt-color);
  background-color: var(--button-filter-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  height: 38px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--button-txt-color);
  background-color: var(--button-filter-bg-act-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio */

.section.portfolio {
  background-color: var(--primary-bg-color);
}

.container.portfolio {
}

.filter {
  display: flex;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-txt-color);
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-txt-color);
}

.portfolio-card {
  background-color: var(--portfolio-card-bg-color);
}
